@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global styles */

/* index.css or App.css */
html, body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden; /* horizontal scroll off */
  overflow-y: auto;   /* vertical scroll on */
}


